<template>
  <div class="grid grid-cols-1 mx-auto gap-4">
    <AppPageTitle
      class
      :headline="pageHeader"
      :tagline="myProfile ? 'Mein Profil' : 'Profil'"
      :enable-edit="false"
      v-model:edit="editMode"
    >
    </AppPageTitle>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <AppInputField label="Benutzername" class="md:col-span-2">
        <AppInlineEditableField
          label="Benutzername"
          :model-value="user?.username"
        />
      </AppInputField>

      <AppInputField label="Vorname">
        <AppInlineEditableField
          label="Vorname"
          :model-value="user?.firstName"
          :edit-mode="editMode"
        />
      </AppInputField>
      <AppInputField label="Nachname">
        <AppInlineEditableField
          label="Nachname"
          :model-value="user?.lastName"
          :edit-mode="editMode"
        />
      </AppInputField>

      <AppInputField label="E-Mail-Adresse">
        <AppInlineEditableField
          label="E-Mail-Adresse"
          :model-value="user?.email"
        />
      </AppInputField>
      <AppInputField label="E-Mail-Adresse bestätigt">
        <InputSwitch
          :model-value="user?.emailVerified"
          class="scale-90"
          disabled
        />
      </AppInputField>
    </div>

    <div>
      <TabView>
        <TabPanel header="Gruppen">
          <GroupList :groups="groups" />
        </TabPanel>
      </TabView>
    </div>
  </div>
</template>

<script setup lang="ts">
import { RouteLocationNormalized } from '.nuxt/vue-router';
import { computedAsync } from '@vueuse/core';

const route = useRoute();

const { getUserInfo } = useKeycloakState();
const { fetchMyGroups, fetchUserGroups, fetchUser } = useKeycloakApi();

const userInfo = await getUserInfo();
const editMode = ref(false);

const profilParam = toRef(route.params.profileId.toString());
const myProfile = computed(
  () => !profilParam.value || userInfo.value?.id === profilParam.value,
);

const user = computedAsync(async () => {
  if (myProfile.value) {
    return userInfo.value;
  } else {
    const { data: user } = await fetchUser(profilParam.value);
    return user.value;
  }
});

const groups = computedAsync(async () => {
  if (myProfile.value) {
    const { data } = await fetchMyGroups();
    return data.value ?? undefined;
  } else {
    const { data } = await fetchUserGroups(profilParam.value);
    return data.value ?? undefined;
  }
});

const pageHeader = computed(() => {
  if (user.value?.firstName && user.value?.lastName)
    return `${user.value?.firstName} ${user.value?.lastName}`;
  return user.value?.username ?? '-';
});

useHead({
  title: pageHeader,
});

definePageMeta({
  middleware: async (to: RouteLocationNormalized) => {
    const profileId = to.params.profileId.toString();

    if (!profileId) return true;

    const { getUserInfo, canViewUsersGlobaly } = useKeycloakState();

    const userInfo = await getUserInfo();
    if (userInfo.value?.id === profileId) return true;

    if (canViewUsersGlobaly.value) return true;

    return false;
  },
});
</script>
