<template>
  <div class="grid grid-cols-1 mx-auto gap-4">
    <AppPageTitle
      class
      :headline="pageHeader"
      tagline="Gruppe"
      :enable-edit="false"
      v-model:edit="editMode"
    >
    </AppPageTitle>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <AppInputField label="Name">
        <AppInlineEditableField
          label="Name"
          :model-value="group?.name"
          :edit-mode="editMode"
        />
      </AppInputField>
      <AppInputField label="Pfad">
        <AppInlineEditableField label="Pfad" :model-value="group?.path" />
      </AppInputField>
    </div>

    <div>
      <TabView :lazy="true">
        <TabPanel header="Mitglieder">
          <GroupMemberList
            :group-id="groupId"
            :navigable="true"
            :members="members"
            :composite-group="group?.compositeGroup ?? true"
            @members-changed="refetchMembers"
          />
        </TabPanel>
        <TabPanel header="Admins">
          <GroupAdminList
            :group-id="groupId"
            :members="members"
            :admins="admins"
            @admin-changed="refreshAdmins"
          />
        </TabPanel>
        <TabPanel header="Chat">
          <GroupSpaceList
            :group-id="groupId"
            :members="members"
            :composite-group="group?.compositeGroup ?? true"
            @members-changed="refetchMembers"
          />
        </TabPanel>
        <TabPanel
          v-if="!group?.compositeGroup && canManageGroup"
          header="Einladungs-Links"
          ><InviteLinkList :admins="admins" :groupId="groupId"></InviteLinkList
        ></TabPanel>
        <TabPanel v-if="canManageGroupsGlobaly" header="Optionen">
          <GroupOptions
            v-if="group"
            :group="group"
            @group-changed="refreshGroup()"
          />
        </TabPanel>
      </TabView>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computedAsync } from '@vueuse/core';
import { RouteLocationNormalized } from '~/.nuxt/vue-router';
import { GroupMember } from '~/types/group-member.model';
import { GroupInfo } from '~/types/groups.model';
import { useKeycloakState } from '~/composables/useKeycloakState';
const route = useRoute();

const groupId = toRef(route.params.groupId.toString());
const editMode = ref(false);

const { fetchGroupMembers, getAdmins, getGroup } = useKeycloakApi();
const { canManageGroupsGlobaly } = useKeycloakState();

const members = ref<GroupMember[]>([]);
const admins = ref<string[]>([]);

const user = await useKeycloakState().getUserInfo();

const canManageGroup = computed(
  () => admins.value.includes(user.value.id) || canManageGroupsGlobaly.value,
);

function refreshAdmins() {
  getAdmins(groupId.value)
    .then((res) => res?.data?.value ?? [])
    .then((fetchedAdmins) => (admins.value = fetchedAdmins));
}

async function refetchMembers() {
  const { data } = await fetchGroupMembers(groupId.value);
  members.value = data?.value ?? [];
  refreshAdmins();
}
refetchMembers();

const group = ref<GroupInfo>();

async function refreshGroup() {
  group.value = (await getGroup(groupId.value)).data.value!;
  refetchMembers();
  refreshAdmins();
}

await refreshGroup();

const pageHeader = computed(() => {
  return group.value?.name ?? '-';
});

useHead({
  title: pageHeader,
});

definePageMeta({
  middleware: async (to: RouteLocationNormalized) => {
    const groupId = toRef(to.params.groupId.toString());

    const { hasViewGroupsRole } = useKeycloakHelper();

    const { fetchMyGroups } = useKeycloakApi();
    const { getUserInfo } = useKeycloakState();

    if (hasViewGroupsRole((await getUserInfo()).value)) {
      return true;
    }

    const { data: myGroups } = await fetchMyGroups();

    const mygroup = myGroups.value?.some((g) => g.id === groupId.value);
    return mygroup;
  },
});
</script>
