<template>
  Um den Chat einzurichten, folge jetzt der Anleitung:
  <AppButton style="width: 170px; margin-top: 5px" :to="chatDocUrl"
    ><Icon name="gridicons:external"></Icon>Zur Anleitung</AppButton
  >
</template>
<script setup lag="ts">
const chatDocUrl = toRef(useRuntimeConfig().public.chatDocumentationUrl);
</script>
