<template>
  <div class="flex gap-2">
    <AppInputField label="Kind - Id"
      ><AppInlineEditableField
        label="Kind - Id"
        :edit-mode="true"
        v-model="newChildId"
      ></AppInlineEditableField
    ></AppInputField>
    <AppButton @click="addChild">Kind-Komponenten-Gruppe hinzufügen</AppButton>
  </div>
  <Listbox :options="compositeChildren" class="w-full border-none !shadow-none">
      <template #option="slotProps">
        <p
    class="px-4 py-2 sm:py-3 sm:px-5 flex w-full"
    intent="default"
  >
    <div class="flex-1 text-left">
      {{ slotProps.option.name }}
    </div>
    <AppButton intent="secondary" class="font-normal" style="margin-left: 25px" shape="pill" size="small" @click="removeChild(slotProps.option)">
      X
    </AppButton>
  </p>
      </template>
      <template #empty>
        <p>Keine Kind-Komponenten-Gruppen</p>
      </template>
    </Listbox>
</template>

<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { GroupInfo } from '~/types/groups.model';
const { addCompositeChild, removeCompositeChild, getCompositeChildren } =
  useKeycloakApi();
const toast = useToast();
const props = defineProps<{
  group: GroupInfo;
}>();

const emit = defineEmits<{
  (e: 'groupChanged'): void;
}>();

const compositeChildren = ref<GroupInfo[]>([]);

const newChildId = ref<string>('');

async function refreshChildren() {
  compositeChildren.value = (
    await getCompositeChildren(props.group.id)
  ).data.value!;
}

async function addChild() {
  if (newChildId.value) {
    await addCompositeChild(props.group.id, newChildId.value);
    refreshChildren();
    toast.add({
      summary: 'Kind hinzugefügt',
      severity: 'success',
      life: 3000,
    });
    emit('groupChanged');
  }
}

async function removeChild(child: GroupInfo) {
  if (child?.id) {
    await removeCompositeChild(props.group.id, child.id);
    refreshChildren();
    toast.add({
      summary: 'Kind entfernt',
      severity: 'success',
      life: 3000,
    });
    emit('groupChanged');
  }
}

refreshChildren();
</script>
