<template>
  <p
    class="px-4 py-2 sm:py-3 sm:px-5 flex w-full"
    intent="default"
  >
    <div class="flex-1 text-left">
      {{ memberName }}
    </div>
    <AppButton :to="profileLink(member.id)" intent="secondary" class="font-normal" shape="pill" size="small">
      Profil
    </AppButton>
    <AppButton v-if="!compositeGroup" intent="secondary" class="font-normal" style="margin-left: 25px" shape="pill" size="small" @click="removeFromGroup(props.member)">
      X
    </AppButton>
  </p>
</template>

<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { GroupMember } from '~/types/group-member.model';
import adminsGet from '~/server/api/groups/[group]/admins.get';

const toast = useToast();

const props = defineProps<{
  member: GroupMember;
  compositeGroup: boolean;
}>();

const emit = defineEmits<{
  (e: 'removeMember', value: GroupMember): void;
}>()

const { getUserInfo, canViewUsersGlobaly } = useKeycloakState();
const userInfo = await getUserInfo();

const navigable = (userId: string) =>
  canViewUsersGlobaly.value || userId === userInfo.value?.id;

const listItem = (userId: string) => {
  if (navigable(userId)) return resolveComponent('AppButton');
  return 'p';
};

const memberName = computed(() => {
  if (props.member.firstName && props.member.lastName)
    return `${props.member.firstName} ${props.member.lastName}`;
  return props.member.username ?? '-';
});

const profileLink = computed(
  () => (userId: string) =>
    navigable(userId) ? '/profil/' + userId : undefined,
);

async function removeFromGroup(member: GroupMember) {
  emit('removeMember', member);
}

</script>

<style scoped></style>
