<template>
  <Dialog v-model:visible="show" modal header="Mitglieder verwalten" class="max-w-lg w-full m-2">
    <DataTable :value="lazyUsers" lazy paginator :rows="pageLength" :loading="lazyLoading" :totalRecords="userCount ?? 0"
      @page="onPage($event)" page tableStyle="width:100%">
      <template #empty>Keine Benutzer:innen gefunden</template>
      <template #loading>Bitte warten</template>
      <template #header>
        <div>
          <div class="p-inputgroup flex-1">
            <InputText size="small" v-model="searchText" class="rounded-full w-full"
              placeholder="Suche nach Benutzer:innen" @keydown.enter="reload()" />
            <AppButton intent="white" class="border border-gray-300" title="Suche nach Benutzer:innen" @click="reload()">
              <AppIcon name="ic:baseline-person-search" />
            </AppButton>
          </div>

        </div>
      </template>
      <Column class="w-8">
        <template #body="slotProps">
          <Checkbox v-model="selectedUser" :value="slotProps.data?.id" />
        </template>
      </Column>
      <Column header="Benutzer:innen" headerClass="!py-2">
        <template #body="slotProps">
          <p v-if="slotProps.data?.firstName || slotProps.data?.lastName">{{ slotProps.data?.firstName }} {{
            slotProps.data?.lastName }}</p>
          <p v-if="slotProps.data?.username"
            :class="{ 'text-gray-500': slotProps.data?.firstName || slotProps.data?.lastName }">{{
              slotProps.data?.username }}</p>
        </template>
        <template #loading>
          <div class="flex flex-col gap-2 justify-center flex-grow overflow-hidden" style="{ height: 55px }">
            <Skeleton width="60%" height="1rem" />
            <Skeleton width="40%" height="1rem" />
          </div>
        </template>
      </Column>
    </DataTable>
    <template #footer>
      <div class="flex justify-end">
        <AppButton intent="secondary" shape="pill" @click="show = false" text>Abbrechen</AppButton>
        <AppButton @click="save()" shape="pill">Speichern</AppButton>
      </div>
    </template>
  </Dialog>
</template>

<script setup lang="ts">
import { useVModel } from '@vueuse/core';
import { DataTablePageEvent } from 'primevue/datatable';
import { useToast } from 'primevue/usetoast';
import { User } from 'types/user.model';

const toast = useToast();

const props = defineProps<{
  groupId: string;
  show: boolean
  currentMembers?: string[]
}>();

const emit = defineEmits<{
  (e: 'update:show', show: boolean): void,
  (e: 'saved'): void
}>()
const show = useVModel(props, 'show', emit);
const tempSelectedUser = ref<string[] | undefined>(undefined);
const selectedUser = computed({
  get() {
    return tempSelectedUser.value ?? props.currentMembers
  },
  set(newValue) {
    tempSelectedUser.value = [...newValue ?? []]
  }
})

const { fetchUserCount, fetchUsers, postGroupMembers } = useKeycloakApi();
const dtFirst = ref(0);
const userCount = ref(0);
const pageLength = ref(10);
const searchText = ref("");

const lazyUsers = ref<(User | null)[]>(new Array<User | null>(pageLength.value).fill(null));
const lazyLoading = ref(false);

watch(show, async (value) => {
  if (!value) return;

  searchText.value = "";
  selectedUser.value = props.currentMembers;

  await reload();
}, { immediate: true })

const onPage = async (event: DataTablePageEvent) => {
  const { first, rows } = event;
  await loadUsers(first, rows)
}

const reload = async () => {
  try {
    lazyLoading.value = true;
    await loadUserCount();
    await loadUsers(0, pageLength.value);
  } finally {
    lazyLoading.value = false;
  }
}

const loadUserCount = async () => {
  const search = searchText.value ?? undefined;
  const { data } = await fetchUserCount(search);
  userCount.value = data.value ?? 0;
}

const loadUsers = async (first: number, length: number) => {
  try {
    lazyLoading.value = true;

    if (dtFirst.value !== first) {
      dtFirst.value = first;
    }

    const search = searchText.value ?? undefined;
    const { data } = await fetchUsers(first, length, search)
    lazyUsers.value = [...data.value ?? []];
  } finally {
    lazyLoading.value = false;
  }
}

const save = async () => {
  if (tempSelectedUser) {

    const add = selectedUser.value?.filter(v => !props.currentMembers?.includes(v))
    const remove = props.currentMembers?.filter(v => !selectedUser.value?.includes(v))

    await postGroupMembers(props.groupId, add, remove)
    if (add?.length) {
      toast.add({
        severity: 'success',
        summary: `${add.length} Gruppenmitgliede(r):in hinzugefügt`,
        life: 5000,
      });
    }
    if (remove?.length) {
      toast.add({
        severity: 'success',
        summary: `${remove.length} Gruppenmitgliede(r):in entfernt`,
        life: 5000,
      });
    }
  }
  show.value = false;
  emit("saved")
}

</script>