<template>
  <GroupCompositeChildren
    :group="group"
    @group-changed="emit('groupChanged')"
  ></GroupCompositeChildren>
</template>

<script setup lang="ts">
import { GroupInfo } from '~/types/groups.model';

defineProps<{
  group: GroupInfo;
}>();

const emit = defineEmits<{
  (e: 'groupChanged'): void;
}>();
</script>
