<template>
  <Tree
    :value="nodes"
    @update:expanded-keys="interacted = true"
    :expanded-keys="expandedKeys"
    selectionMode="single"
    @node-select="navToGroup"
    :filter="true"
  >
    <template #default="slotProps">
      <div class="py-2 pl-0" style="margin-left: -15px">
        <Icon
          name="grommet-icons:group"
          style="margin-right: 5px"
          size="25px"
        ></Icon>
        {{ slotProps.node.label }}
        <Tag
          v-if="
            (slotProps.node.data as GroupMembership).membershipType ==
            MembershipType.INDIRECT
          "
          severity="info"
          value="Automatisch"
        ></Tag>
        <AppIcon
          v-if="false"
          name="ic:baseline-chevron-right"
          class="hover:bg-gray-200 hover:ring-gray-600 hover:ring-1 hover:ring-offset-1 rounded-full"
        />
      </div>
    </template>
  </Tree>
</template>

<script setup lang="ts">
import { TreeExpandedKeys, TreeNode } from 'primevue/tree';
import { GroupMembership, MembershipType } from '~/types/groups.model';
const props = defineProps<{
  groups?: GroupMembership[];
}>();

let interacted = false;
const expandedKeys: TreeExpandedKeys = ref({});

function extractPrefixes(path: string): string[] {
  let prefixes = [path];
  if (path.lastIndexOf('/') > 0) {
    prefixes.push(...extractPrefixes(path.substring(0, path.lastIndexOf('/'))));
  }
  return prefixes;
}

function navToGroup(node: TreeNode) {
  navigateTo('/gruppe/' + (node.data as GroupMembership).id);
}

const nodes = computed(() => {
  const allGroups = props.groups ?? [];
  const nodes: TreeNode[] = [];
  const nodesByPaths = new Map<string, TreeNode>();
  const shortestPathFirst = allGroups.sort(
    (a, b) => a.path.length - b.path.length,
  );

  function createAndIndexNode(group: GroupMembership) {
    const node: TreeNode = {
      data: group,
      label: group.name,
      key: group.id,
      children: [],
    };
    nodesByPaths.set(group.path, node);
    return node;
  }

  groupLoop: for (const group of shortestPathFirst) {
    if (nodesByPaths.has(group.path)) {
      continue;
    }
    for (const prefix of extractPrefixes(group.path)) {
      if (nodesByPaths.has(prefix)) {
        const parent = nodesByPaths.get(prefix)!;
        const node = createAndIndexNode(group);
        parent.children!.push(node);
        continue groupLoop;
      }
    }
    nodes.push(createAndIndexNode(group));
  }
  return nodes;
});

watch(nodes, (nodes) => {
  if (!interacted) {
    function count(node: TreeNode): number {
      return 1 + (node?.children?.map(count)?.reduce((l, r) => l + r, 0) ?? 0);
    }
    function countAll(nodes: TreeNode[]) {
      return nodes.map(count).reduce((l, r) => l + r, 0);
    }
    if (countAll(nodes) <= 10) {
      function getKeys(...nodes: TreeNode[]): string[] {
        return nodes.flatMap((node) => {
          const childKeys = getKeys(...(node.children ?? []));
          childKeys.push(node.key!);
          return childKeys;
        });
      }
      getKeys(...nodes).forEach((key) => (expandedKeys.value[key] = true));
    }
  }
});
</script>
