<template>
  <div>
    <Toolbar v-if="canAddMembers && !compositeGroup">
      <template #end>
        <AppButton
          intent="secondary"
          shape="pill"
          size="small"
          @click="showAddMemberModal = true"
          >Mitglieder verwalten
        </AppButton>
      </template>
    </Toolbar>

    <Listbox :options="members" class="w-full border-none !shadow-none">
      <template #option="slotProps">
        <GroupMemberListItem
          :member="slotProps.option"
          :composite-group="compositeGroup"
          @removeMember="removeMember($event)"
        />
      </template>
      <template #empty>
        <p>Keine Mitglieder</p>
      </template>
    </Listbox>

    <ClientOnly>
      <GroupMemberAddModal
        v-model:show="showAddMemberModal"
        :groupId="groupId"
        :currentMembers="currentMembers"
        @saved="reload()"
      />
    </ClientOnly>
  </div>
</template>

<script setup lang="ts">
import { asyncComputed, computedAsync } from '@vueuse/core';
import { useToast } from 'primevue/usetoast';
import { GroupMember } from 'types/group-member.model';

const toast = useToast();
const props = defineProps<{
  groupId: string;
  navigable?: boolean;
  members: GroupMember[];
  compositeGroup: boolean;
}>();

const emit = defineEmits(['membersChanged']);

const showAddMemberModal = ref(false);

const { getAdminGroups, canManageUsersGlobaly, getUserInfo } =
  useKeycloakState();
const { getAdmins } = useKeycloakApi();

const currentMembers = computed(() => props.members?.map((m) => m.id));

const admins = ref<string[]>([]);

function refreshAdmins() {
  getAdmins(props.groupId)
    .then((res) => res?.data?.value ?? [])
    .then((fetchedAdmins) => (admins.value = fetchedAdmins));
}

refreshAdmins();

const canAddMembers = computedAsync(
  async () =>
    admins.value.includes((await getUserInfo()).value.id) ||
    canManageUsersGlobaly.value,
);

async function removeMember(member: GroupMember) {
  const { postGroupMembers } = useKeycloakApi();
  const { getUserName } = useKeycloakHelper();
  await postGroupMembers(props.groupId, [], [member.id]);
  toast.add({
    severity: 'success',
    summary: `${getUserName(member)} aus der Gruppe entfernt`,
    life: 5000,
  });
  emit('membersChanged');
}

async function reload() {
  emit('membersChanged');
}
</script>
