<template>
  <div>
    <DataTable :value="model" class="p-1">
      <Column field="displayName" header="Name"></Column>
      <Column header="Admin">
        <template #body="slotProps">
          <Checkbox
            :model-value="slotProps.data.admin"
            input-id="is-admin"
            :binary="true"
            :disabled="!canManageAdmins"
            @change="changeRequested(slotProps.data)"
          ></Checkbox>
        </template>
      </Column>
    </DataTable>
  </div>
</template>

<script setup lang="ts">
import { asyncComputed } from '@vueuse/core';
import { GroupMember } from 'types/group-member.model';
import { useKeycloakHelper } from '~/composables/useKeycloakHelper';

import { useToast } from 'primevue/usetoast';
const toast = useToast();

import { useConfirm } from 'primevue/useconfirm';
const confirm = useConfirm();

const props = defineProps<{
  groupId: string;
  members: GroupMember[];
  admins: string[];
}>();

const emit = defineEmits(['adminChanged']);
interface Model {
  admin: boolean;
  displayName: string;
  member: GroupMember;
}

const { getAdminGroups, canManageGroupsGlobaly, getUserInfo } =
  useKeycloakState();
const { changeAdmins } = useKeycloakApi();

async function changeRequested(model: Model) {
  const continueFn = () => changeIsAdmin(model);
  const isRemove = model.admin == true;
  if (isRemove && model.member.id == (await getUserInfo()).value.id) {
    confirm.require({
      message:
        'Wenn du dich selber als Admin entfernst, verlierst du den Adminzugriff. Bist du dir sicher, dass du dich entfernen möchtest?',
      header: 'Bestätigung',
      acceptLabel: 'Ja, mir die Adminrechte nehmen',
      rejectLabel: 'Abbrechen',
      defaultFocus: 'reject',
      accept: continueFn,
    });
  } else {
    continueFn();
  }
}

const canManageAdmins = asyncComputed(async () => {
  return (
    props.admins.includes((await getUserInfo()).value.id) ||
    canManageGroupsGlobaly.value
  );
});

async function changeIsAdmin(model: Model) {
  const add = [model.member.id].filter((_) => !model.admin);
  const remove = [model.member.id].filter((_) => model.admin);
  await changeAdmins(props.groupId, add, remove);
  emit('adminChanged');
  toast.add({
    severity: 'success',
    summary: add.length > 0 ? `Admin hinzugefügt` : 'Admin entfernt',
    life: 5000,
  });
}
const model = computed<Model[]>(() =>
  props.members.map((mem) => ({
    admin: props.admins.includes(mem.id),
    displayName: useKeycloakHelper().getUserName(mem),
    member: mem,
  })),
);
</script>
