<template>
  <Tree
    :value="nodes"
    :filter="false"
    @node-expand="onNodeExpanded($event)"
    :loading="loading"
    loadingMode="icon"
  >
    <template #default="slotProps">
      <NuxtLink
        :href="getHREF(slotProps.node)"
        class="flex py-2 pl-0 hover:border-2 box-content"
        style="margin-left: -15px"
      >
        <Icon
          name="grommet-icons:group"
          style="margin-right: 5px"
          size="25px"
        ></Icon>
        {{ slotProps.node.label }}</NuxtLink
      >
    </template>
  </Tree>
</template>

<script setup lang="ts">
import { TreeNode } from 'primevue/tree';
import { KCGroup } from '~/types/groups.model';

function getHREF(node: TreeNode) {
  return '/gruppe/' + (node.data as KCGroup).id;
}

const nodes = ref<TreeNode[]>([]);
const loading = ref(false);

async function loadRootNodes() {
  loading.value = true;
  const groups = await useDirectKeycloak().getRootGroups();
  groups.forEach((group) => nodes.value.push(createNode(group)));
  loading.value = false;
  // prefetch of one level
  nodes.value.forEach((rootNode) => fetchChildNodes(rootNode));
}

function createNode(group: KCGroup) {
  return {
    data: group,
    label: group.name,
    key: group.id,
    children: [],
    leaf: !(group.subGroupCount ?? 0 > 0),
  };
}

async function fetchChildNodes(node: TreeNode) {
  const group = node.data as KCGroup;
  // Are ChildNodes Missing?
  if ((group.subGroupCount ?? 0) > 0 && node.children!.length == 0) {
    // Are the subgroups already loaded?
    let subGroups;
    if (group.subGroups?.length ?? 0 > 0) {
      subGroups = group.subGroups;
    } else {
      subGroups = await useDirectKeycloak().getChildrenGroups(group.id);
      group.subGroups = subGroups;
    }
    node.children = [];
    subGroups!.forEach((child) => node.children!.push(createNode(child)));
  }
}

async function onNodeExpanded(node: TreeNode) {
  loading.value = true;
  await fetchChildNodes(node);
  loading.value = false;
  // prefetch of one level
  node.children?.forEach((childNode) => fetchChildNodes(childNode));
}
onMounted(() => loadRootNodes());
</script>
