<template>
  <Panel
    header="Zur Zeit zugeordnete Matrix-Spaces (Communities), für die Gruppenmitglieder automatisch Einladungen erhalten"
  >
    <Toolbar v-if="editable">
      <template #start
        ><AppButton @click="inviteClicked()"
          >Einladungen versenden</AppButton
        ></template
      >
      <template #end>
        <div class="w-full flex justify-end">
          <AppButton
            :disabled="!editable"
            intent="secondary"
            shape="pill"
            size="small"
            @click="showAddSpaceModal = true"
          >
            Space hinzufügen
          </AppButton>
        </div>
      </template>
    </Toolbar>
    <ProgressSpinner v-if="initialLoad"></ProgressSpinner>
    <Accordion>
      <AccordionTab v-for="space in currentSpaces" :key="space.id">
        <template #header>
          <div class="flex justify-between w-full">
            <div class="flex items-center">
              <img
                class=""
                v-if="space.avatarUrl"
                :alt="'icon von ' + space.spaceName"
                :src="space.avatarUrl"
                style="height: 50px; border-radius: 4px; margin-right: 5px"
              />
              <span>{{ space.spaceName }} - Mitgliederübersicht</span>
            </div>
            <AppButton
              intent="secondary"
              class="font-normal"
              shape="pill"
              size="small"
              :enabled="editable"
              @click="removeSpaceClick(space)"
            >
              Space entfernen
            </AppButton>
          </div>
        </template>
        <DataTable
          :value="membersPreprocessed.get(space.id)"
          groupRowsBy="state"
          rowGroupMode="subheader"
          header="Mitgliederübersicht"
        >
          <template #groupheader="slotProps">
            <span class="font-bold">{{
              getStateDescription(slotProps.data.state)
            }}</span>
          </template>
          <Column header="Status" style="width: 80px">
            <template #body="slotProps">
              <Icon
                name="carbon:checkmark-filled"
                color="#43a047"
                v-if="slotProps.data.state == MemberState.inSync"
                size="25px"
              />
              <Icon v-else name="mdi:question-mark-box" size="25px"></Icon>
            </template>
          </Column>
          <Column
            header="Mitgliedsname"
            :field="(item: Member) => getDisplayName(item.user ?? {})"
          ></Column>
          <Column header="Schnellaktion" style="width: 300px">
            <template #body="slotProps">
              <AppButton
                :enabled="editable"
                v-if="slotProps.data.state == MemberState.missingFromSpace"
                @click="inviteToSpace(space, slotProps.data.user)"
                >In den Space einladen</AppButton
              >
              <AppButton
                :enabled="editable"
                v-if="
                  slotProps.data.state == MemberState.missingFromGroup &&
                  !compositeGroup
                "
                @click="addToGroup(slotProps.data.user)"
                >Zur Gruppe hinzufügen</AppButton
              >
            </template>
          </Column>
        </DataTable>
      </AccordionTab>
    </Accordion>
  </Panel>
  <GroupAddSpaceModal
    v-model:show="showAddSpaceModal"
    :currentSpaces="currentSpaces"
    :groupId="props.groupId"
    @saved="refresh"
  ></GroupAddSpaceModal>
</template>

<script setup lang="ts">
import Panel from 'primevue/panel';
import { Space } from '~/server/utils/matrixbot';
const {
  fetchManagableSpaces,
  addSpace,
  removeSpace,
  fetchCurrentSpacesOfGroup,
  inviteAll,
  getSpaceMemberOverview,
  getUser,
  inviteUserToSpace,
} = useKeycloakApi();
const { getAdminGroups } = useKeycloakState();
import { useToast } from 'primevue/usetoast';
import { GroupMember } from '~/types/group-member.model';
import { computedAsync } from '@vueuse/core';
import { User } from '~/types/user.model';

const { postGroupMembers } = useKeycloakApi();
const { canManageGroupsGlobaly } = useKeycloakState();
const getDisplayName = useKeycloakHelper().getUserName;

const toast = useToast();

const props = defineProps<{
  groupId: string;
  members: GroupMember[];
  compositeGroup: boolean;
}>();
const emit = defineEmits(['membersChanged']);

const showAddSpaceModal = ref(false);

const initialLoad = ref(true);

const currentSpaces = ref<Space[]>([]);

const memberOverview = ref<GroupMemberOverview>({});

async function refresh() {
  const res = await Promise.all([
    fetchCurrentSpacesOfGroup(props.groupId),
    getSpaceMemberOverview(props.groupId),
  ]);
  currentSpaces.value = res[0].data.value! ?? [];
  memberOverview.value = res[1].data.value;
}

function mapAttributeToGroupMembers(
  attribute: (ov: SpaceMemberOverview) => string[],
  state: MemberState,
) {
  return computedAsync(async () => {
    const members = new Map<string, Member[]>();
    for (const space of currentSpaces.value) {
      if (memberOverview.value[space.id]) {
        const memList = await mapToMembers(
          attribute(memberOverview.value[space.id]),
        );
        members.set(
          space.id,
          memList
            .sort((a, b) =>
              getDisplayName(a ?? {}).localeCompare(getDisplayName(b ?? {})),
            )
            .map((m) => ({ user: m, state })),
        );
      } else {
        members.set(space.id, []);
      }
    }
    return members;
  });
}
enum MemberState {
  'missingFromSpace',
  'missingFromGroup',
  'inSync',
}
function getStateDescription(state: MemberState) {
  switch (state) {
    case MemberState.missingFromSpace:
      return 'Gruppenmitglieder, die im Space fehlen';
    case MemberState.missingFromGroup:
      return 'Spacemitglieder, die in der Gruppe fehlen';
    case MemberState.inSync:
      return 'Mitglieder im Space und in der Gruppe';
  }
}
interface Member {
  user: User | GroupMember | null;
  state: MemberState;
}

const missingFromSpace = mapAttributeToGroupMembers(
  (overview) => overview.notJoinedButGroupMember,
  MemberState.missingFromSpace,
);
const missingFromGroup = mapAttributeToGroupMembers(
  (overview) => overview.joinedButNoGroupMember,
  MemberState.missingFromGroup,
);
const inSync = mapAttributeToGroupMembers(
  (overview) => overview.joinedAndGroupMember,
  MemberState.inSync,
);

const membersPreprocessed = computed(() => {
  const spaceTable = new Map<string, Member[]>();
  for (const space of currentSpaces.value ?? []) {
    const allMembers = [missingFromSpace, missingFromGroup, inSync].flatMap(
      (map) => map.value.get(space.id) ?? [],
    );
    spaceTable.set(space.id, allMembers);
  }
  return spaceTable;
});

const usersMap = new Map<string, User>();
function mapToMembers(memberIds: string[]) {
  return Promise.all(
    memberIds.map(async (id) => {
      const user = props.members.find((mem) => mem.id == id);
      if (user) {
        return user;
      } else {
        if (usersMap.has(id)) {
          return usersMap.get(id)!;
        } else {
          const { data } = await getUser(id);
          if (data.value) {
            usersMap.set(id, data.value);
          }
          return usersMap.get(id) ?? null;
        }
      }
    }),
  );
}

async function removeSpaceClick(space: Space) {
  if (space) {
    await removeSpace(props.groupId, space.id);
    refresh();
  }
}

async function addToGroup(user: User | GroupMember | null) {
  if (user) {
    await postGroupMembers(props.groupId, [user.id], []);
    toast.add({
      severity: 'success',
      summary: `${getDisplayName(user)} zur Gruppe hinzugefügt`,
      life: 5000,
    });
    emit('membersChanged');
  }
}

watch(props, (_) => refresh());

async function inviteToSpace(space: Space, user: User | GroupMember | null) {
  if (user) {
    await inviteUserToSpace(props.groupId, user.id, space.id);
    toast.add({
      severity: 'success',
      summary: `${getDisplayName(user)} zum Space eingeladen`,
      life: 5000,
    });
    refresh();
  }
}

async function inviteClicked() {
  await inviteAll(props.groupId);
  toast.add({
    severity: 'success',
    summary: 'Gruppenmitglieder erfolgreich informiert',
    life: 5000,
  });
}

const adminGroups = await getAdminGroups();
const editable = computed(
  () =>
    adminGroups.value?.includes(props.groupId) || canManageGroupsGlobaly.value,
);

refresh().finally(() => (initialLoad.value = false));
</script>
