<template>
  <Dialog v-model:visible="show" modal header=" " class="w-full m-2 max-w-5xl">
    <div class="w-full flex flex-col md:flex-row">
      <Card class="grow">
        <template #title>Neuer Space</template>
        <template #content
          ><AppInputField label="Name des neuen Spaces">
            <AppInlineEditableField
              :editMode="true"
              label="Name des Spaces"
              v-model="newSpaceName"
            ></AppInlineEditableField> </AppInputField
        ></template>
        <template #footer
          ><AppButton @click="createNewSpaceClick"
            >Erstellen</AppButton
          ></template
        >
      </Card>
      <div class="grow-0">
        <div class="hidden h-full md:flex">
          <Divider layout="vertical"><b>Oder</b></Divider>
        </div>
        <div class="w-full flex md:hidden">
          <Divider layout="horizontal" align="center"><b>Oder</b></Divider>
        </div>
      </div>
      <Card class="grow">
        <template #title>Existierender Space</template>
        <template #content>
          <Dropdown
            class="w-full"
            style="height: 74px"
            v-model="selectedNewSpace"
            :options="selectableSpaces"
            optionLabel="spaceName"
            placeholder="Space auswählen"
            emptyMessage="Keine Spaces verfügbar"
            aria-labelledby="space-select-help"
          >
            <template #value="slotProps">
              <SpaceItem
                v-if="slotProps.value"
                :space="slotProps.value"
              ></SpaceItem>
              <span v-else style="height: 100px">
                {{ slotProps.placeholder }}
              </span>
            </template>
            <template #option="slotProps">
              <SpaceItem :space="slotProps.option"></SpaceItem>
            </template>
          </Dropdown>
          <small id="space-select-help" class="inline-block max-w-xs"
            >Wird dein Space hier nicht angezeigt, dann stelle sicher, dass du
            dort Admin bist und der
            <b>rotesteambot</b>(@rotesteambot:rote.tools) in den Space
            eingeladen wurde.</small
          >
        </template>
        <template #footer>
          <AppButton size="small" @click="addSpaceClick">
            Hinzufügen
          </AppButton>
        </template>
      </Card>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
import { computedAsync, useVModel } from '@vueuse/core';
import { useToast } from 'primevue/usetoast';

const toast = useToast();

const { fetchManagableSpaces, addSpace, createNewSpace } = useKeycloakApi();

const props = defineProps<{
  groupId: string;
  show: boolean;
  currentSpaces: Space[];
}>();

const emit = defineEmits<{
  (e: 'update:show', show: boolean): void;
  (e: 'saved'): void;
}>();
const show = useVModel(props, 'show', emit);

const managableSpaces = computedAsync(async () => {
  return (await fetchManagableSpaces()).data.value ?? [];
});

const selectableSpaces = computed(
  () =>
    managableSpaces.value?.filter(
      (s1) => !props.currentSpaces.find((s2) => s2.id == s1.id),
    ),
);

const selectedNewSpace = ref<Space | null>(null);
const newSpaceName = ref<string>('');

async function createNewSpaceClick() {
  const name = newSpaceName.value?.trim();
  if (name) {
    if (
      props.currentSpaces.find(
        (s: Space) =>
          s.spaceName?.trim()?.toLocaleLowerCase() == name.toLocaleLowerCase(),
      )
    ) {
      toast.add({
        summary: 'Ein Space mit diesem Namen gibt es bereits in der Gruppe',
        severity: 'info',
        life: 3000,
      });
      return;
    }
    await createNewSpace(props.groupId, name);
    toast.add({
      summary: 'Space erstellt',
      severity: 'success',
      life: 3000,
    });
    emit('saved');
    show.value = false;
  }
}

async function addSpaceClick() {
  if (selectedNewSpace.value) {
    const newSpace = selectedNewSpace.value;
    await addSpace(props.groupId, newSpace.id);
    toast.add({
      summary: 'Space hinzugefügt',
      severity: 'success',
      life: 3000,
    });
    selectedNewSpace.value = null;
    emit('saved');
    show.value = false;
  }
}
</script>
