<template>
    <div class="flex" style="align-items: center; height: 48px">
        <img v-if="space.avatarUrl" :alt="'icon von ' + space.spaceName" :src="space.avatarUrl"
            style="height: 100%; border-radius: 4px; margin-right: 5px" />
        <span v-else class="bg-slate-200" style="width: 48px; height: 48px; margin-right: 5px; border-radius: 4px"></span>
        <div>{{ space.spaceName }}</div>
    </div>
</template>

<script setup lang="ts">
import { Space } from 'server/utils/matrixbot';

const props = defineProps<{
    space: Space;
}>();

</script>