<template>
  <Panel>
    <template v-if="groupName" #header
      ><h1 class="text-2xl">
        Einladung zur Gruppe <span class="font-bold">{{ groupName }}</span>
      </h1></template
    >
    <template #default>
      <div v-if="claimInfo?.status == ClaimStatus.NOTCLAIMABLE_OR_MISSING">
        Diese Einladung ist (mittlerweile) ungültig. Bitte frage die Gruppe nach
        einer neuen Einladung.
      </div>
      <div v-else-if="!loggedIn">
        Um die Einladung einzulösen, musst du dich zuerst registrieren oder
        anmelden.
        <AppButton
          intent="primary"
          shape="pill"
          @click="signIn('keycloak', { callbackUrl: route.fullPath })"
        >
          <AppIcon name="ic:baseline-lock-person" /> Login mit Rote.Tools
        </AppButton>
      </div>
      <div v-else-if="claimInfo?.status == ClaimStatus.ALREADY_MEMBER">
        <span
          >Du bist bereits in der Gruppe {{ groupName }} und kannst die
          Einladung deshalb nicht annehmen.</span
        >
        <div>
          <GettingStarted></GettingStarted>
        </div>
      </div>
      <div v-else-if="claimInfo?.status == ClaimStatus.CLAIMABLE">
        <AppButton
          v-if="!claimRequestActive"
          intent="primary"
          shape="pill"
          @click="claimInvite()"
        >
          <AppIcon name="grommet-icons:group" />Einladung annehmen
        </AppButton>
        <ProgressSpinner v-if="claimRequestActive"></ProgressSpinner>
      </div>
    </template>
  </Panel>
</template>

<script setup lang="ts">
import { computedAsync, toRef } from '@vueuse/core';
import { useToast } from 'primevue/usetoast';
import { ClaimInfo, ClaimStatus } from '~/types/invitelink.model';
const { status: authStatus, signIn } = useAuth();

const route = useRoute();

const groupId = toRef(route.params.groupId.toString());
const inviteId = toRef(route.params.inviteId.toString());
const toast = useToast();
const { getInviteLinkClaimInfo, claimInviteLink } = useKeycloakApi();

const claimInfo = computedAsync<ClaimInfo>(async () => {
  const answer = await getInviteLinkClaimInfo(groupId.value, inviteId.value);
  if (answer.error.value) {
    toast.add({
      severity: 'error',
      summary: 'Fehler beim Laden des Einladungslinks',
      life: 10000,
    });
    return { status: ClaimStatus.NOTCLAIMABLE_OR_MISSING, groupName: '' };
  } else {
    return answer.data.value!;
  }
});
const groupName = computed(() => claimInfo?.value?.groupName);

const loggedIn = computed(() => authStatus.value == 'authenticated');

const pageHeader = computed(() => {
  if (groupName.value) {
    return `Einladung zu ${groupName.value}`;
  } else {
    return 'Einladung';
  }
});

const claimRequestActive = ref(false);

async function claimInvite() {
  try {
    claimRequestActive.value = true;
    await claimInviteLink(groupId.value, inviteId.value);
    toast.add({
      severity: 'success',
      summary: `Gruppe ${groupName.value} beigetreten`,
      life: 5000,
    });
    navigateTo(
      '/invite/claimSuccess?groupName=' + encodeURIComponent(groupName.value),
    );
  } catch (e) {
    toast.add({
      severity: 'error',
      summary: 'Fehler beim Annehmen des Einladungslinks',
    });
  } finally {
    claimRequestActive.value = false;
  }
}

useHead({
  title: pageHeader,
});
</script>
