<template>
  <div class="grid grid-cols-1 mx-auto gap-4">
    <AppPageTitle
      class
      headline="Alle Gruppen"
      :enable-edit="false"
    ></AppPageTitle>
    <GroupAllLazyList />
  </div>
</template>

<script setup lang="ts">
import { computedAsync } from '@vueuse/core';

useHead({
  title: 'Alle Gruppen',
});

definePageMeta({
  middleware: async (to: unknown) => {
    const { hasViewGroupsRole } = useKeycloakHelper();
    const { getUserInfo } = useKeycloakState();

    return hasViewGroupsRole((await getUserInfo()).value);
  },
});
</script>
