<template>
  <h1 class="text-2xl">
    Gruppe <span class="font-bold">{{ groupName }}</span> beigetreten<Icon
      name="carbon:checkmark-filled"
      color="#43a047"
      size="50px"
    />
  </h1>
  <GettingStarted></GettingStarted>
</template>

<script setup lang="ts">
import { toRef } from '@vueuse/core';
const route = useRoute();
const groupName = toRef(route.query['groupName']);
const pageHeader = computed(() => {
  if (groupName.value) {
    return `Gruppe ${groupName.value} beigetreten`;
  } else {
    return 'Gruppe beigetreten';
  }
});

useHead({
  title: pageHeader,
});
</script>
