<template>
  <InviteLinkView
    v-if="!editMode"
    :invitelink="invitelink"
    :editable="editable"
    @begin-editing="editMode = true"
    :group-id="groupId"
  ></InviteLinkView>
  <InviteLinkEditor
    v-if="editMode"
    :initial-invite-link="invitelink"
    @abort="editMode = false"
    @save="save($event)"
    @deleteLink="deleteLink()"
    mode="editPersistent"
  ></InviteLinkEditor>
</template>
<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { InviteLink } from '~/types/invitelink.model';
const toast = useToast();
const props = defineProps<{
  invitelink: InviteLink;
  editable: boolean;
  groupId: string;
}>();
const editMode = ref(false);
const emit = defineEmits<{
  (event: 'linkUpdated'): void;
}>();

async function deleteLink() {
  const { deleteInviteLink } = useKeycloakApi();
  if (props.invitelink.id) {
    await deleteInviteLink(props.groupId, props.invitelink);
    toast.add({
      severity: 'success',
      summary: 'Einladungslink gelöscht',
      life: 5000,
    });
    emit('linkUpdated');
  }
}

async function save(inviteLink: InviteLink) {
  const { addInviteLink, updateInviteLink } = useKeycloakApi();
  try {
    if (inviteLink.id) {
      await updateInviteLink(props.groupId, inviteLink);
    } else {
      await addInviteLink(props.groupId, inviteLink);
    }
    toast.add({
      severity: 'success',
      summary: 'Einladungslink gespeichert',
      life: 5000,
    });
    emit('linkUpdated');
    editMode.value = false;
  } catch (e) {
    console.error('Error while saving invitelink', e);
    toast.add({
      severity: 'error',
      summary: 'Fehler beim Speichern des Einladungslinks',
      life: 5000,
    });
  }
}
</script>
