<template>
  <Panel header="Gruppen-Einladungslinks zum Verteilen oder Aushängen">
    <Toolbar>
      <template #start
        ><AppButton @click="newInvite()"
          >Neuen Link erstellen</AppButton
        ></template
      >
    </Toolbar>
    <InviteLinkEditor
      v-if="newInviteLink != null"
      :initial-invite-link="newInviteLink"
      @abort="newInviteLink = null"
      @save="saveNewInvite($event)"
      mode="new"
    ></InviteLinkEditor>
    <InviteLinkListItem
      v-for="invitelink in inviteLinks"
      :invitelink="invitelink"
      :editable="editable"
      :group-id="groupId"
      @link-updated="refresh()"
    ></InviteLinkListItem>
  </Panel>
</template>
<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { InviteLink } from '~/types/invitelink.model';
const toast = useToast();
const { getUserInfo, canManageGroupsGlobaly } = useKeycloakState();
const { getInviteLinks } = useKeycloakApi();
const props = defineProps<{
  groupId: string;
  admins: string[];
}>();

const inviteLinks = ref<InviteLink[]>([]);
const user = await getUserInfo();
const editable = computed(
  () => props.admins.includes(user.value.id) || canManageGroupsGlobaly.value,
);

const newInviteLink = ref<InviteLink | null>(null);

async function refresh() {
  inviteLinks.value = (await getInviteLinks(props.groupId)).data.value ?? [];
}
refresh();
async function saveNewInvite(inviteLink: InviteLink) {
  const { addInviteLink } = useKeycloakApi();
  try {
    await addInviteLink(props.groupId, inviteLink);
    toast.add({
      severity: 'success',
      summary: 'Einladungslink gespeichert',
      life: 5000,
    });
    newInviteLink.value = null;
  } catch (e) {
    console.error('Error while saving invitelink', e);
    toast.add({
      severity: 'error',
      summary: 'Fehler beim Speichern des Einladungslinks',
      life: 5000,
    });
  }
  refresh();
}

function newInvite() {
  newInviteLink.value = {
    id: '',
    expireDate: oneYearFromNow(),
    label: '',
    useCount: 0,
    usesLeft: 50,
    notifications: true,
  };
}

function oneYearFromNow() {
  const date = new Date();
  date.setFullYear(date.getFullYear() + 1);
  return date;
}
</script>
