<template>
  <Card>
    <template v-if="mode == 'new'" #title>Neuen Link erstellen</template>
    <template v-else #title>Link bearbeiten</template>
    <template #content>
      <div style="max-width: 350px">
        <AppInputField label="Bezeichnung">
          <InputText v-model="inviteLink.label" maxlength="32"></InputText>
        </AppInputField>
        <small v-if="!inviteLink.label" class="p-error"
          >Bitte gib einen Namen für den Einladungslink ein.</small
        >
        <AppInputField class="w-[125px]" label="Gültig bis">
          <Calendar
            dateFormat="dd.mm.yy"
            v-model="inviteLink.expireDate"
          ></Calendar>
        </AppInputField>
        <small v-if="!inviteLink.expireDate" class="p-error"
          >Bitte gib ein Ablaufdatum ein.</small
        >
        <AppInputField class="w-[170px]" label="Einlösungen übrig">
          <InputNumber
            showButtons
            buttonLayout="horizontal"
            v-model="inviteLink.usesLeft"
            :max="500"
            style="min-width: unset"
          >
            <template #incrementbuttonicon>
              <Icon name="ic:round-plus" color="black" />
            </template>
            <template #decrementbuttonicon>
              <Icon name="ic:round-minus" color="black" />
            </template>
          </InputNumber>
        </AppInputField>
        <small
          v-if="
            typeof inviteLink.usesLeft != 'number' ||
            checkIsNan(inviteLink.usesLeft)
          "
          class="p-error"
          >Bitte gib an, wieviele Einlösungen erlaubt sind.</small
        >
        <AppInputField label="Bei Benutzung über Matrix benachrichtigen">
          <div class="flex flex-row">
            <InputSwitch
              v-model="inviteLink.notifications"
              style="margin-right: 5px"
            ></InputSwitch>
            {{ inviteLink.notifications ? 'An' : 'Aus' }}
          </div>
        </AppInputField>
      </div>
    </template>
    <template #footer>
      <div class="flex flex-row flex-wrap" style="gap: 1em">
        <AppButton intent="primary" @click="trySave()"
          ><Icon size="20px" name="material-symbols:save-outline"
        /></AppButton>
        <AppButton intent="secondary" @click="emit('abort')"
          >Abbrechen</AppButton
        >
        <AppButton
          v-if="mode == 'editPersistent'"
          intent="secondary"
          @click="confirmDeleteLink()"
          ><Icon name="ph:trash"></Icon
        ></AppButton>
      </div>
    </template>
  </Card>
</template>
<style scoped>
:deep(.p-inputnumber-input) {
  min-width: 25px;
}
:deep(.p-inputnumber-input) {
  min-width: 25px;
}
</style>
<script setup lang="ts">
import { InviteLink } from '~/types/invitelink.model';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'primevue/usetoast';
const confirm = useConfirm();
const toast = useToast();

const props = defineProps<{
  initialInviteLink: InviteLink;
  mode: 'editPersistent' | 'new';
}>();

const emit = defineEmits<{
  (event: 'abort'): void;
  (event: 'deleteLink'): void;
  (event: 'save', inviteLink: InviteLink): void;
}>();
// Copy initial link, so that aborting the editing didn't change anything
const inviteLink = ref<InviteLink>(
  JSON.parse(JSON.stringify(props.initialInviteLink)),
);
const checkIsNan = isNaN;

function trySave() {
  if (inviteLinkIsOk(inviteLink.value)) {
    emit('save', inviteLink.value);
  } else {
    toast.add({
      severity: 'error',
      detail:
        'Der Einladungslink ist nicht in Ordnung, bitte korrigiere deine Eingaben',
      life: 5000,
    });
  }
}

function confirmDeleteLink() {
  confirm.require({
    message: 'Bist du sicher, dass du den Einladungslink löschen möchtest?',
    header: 'Bestätigung',
    acceptLabel: 'Ja',
    rejectLabel: 'Nein',

    accept: () => emit('deleteLink'),
  });
}
</script>
