<template>
  <Card>
    <template #title> Link: {{ invitelink.label }}</template>
    <template #content>
      <div class="inline-flew flex-row flex-wrap">
        <div class="grid grid-cols-2">
          <AppInputField label="Einlösungen übrig">
            {{ props.invitelink.usesLeft }}
          </AppInputField>
          <AppInputField label="Einlösanzahl">
            <span v-if="invitelink.useCount == 0">Noch nie eingelöst</span>
            <span v-else-if="invitelink.useCount == 1">Ein Mal eingelöst</span>
            <span v-else>{{ invitelink.useCount }}-mal eingelöst</span>
          </AppInputField>
          <AppInputField label="Gültig bis">
            {{ dateFormatter.format(new Date(props.invitelink.expireDate)) }}
          </AppInputField>
          <AppInputField label="Benachrichtigungen">
            {{ invitelink.notifications ? 'An' : 'Aus' }}
          </AppInputField>
        </div>
        <QRCodeVue3
          v-if="showQR"
          :value="inviteUrl"
          :width="200"
          :height="200"
          :dotsOptions="{ type: 'classy', color: '#000' }"
          :cornersSquareOptions="{ type: 'square' }"
          image="/qrcodelogo.png"
        ></QRCodeVue3>
      </div>
    </template>
    <template #footer>
      <div class="flex flex-row">
        <AppButton intent="primary" @click="copyToClipBoard()"
          >Einlöslink<Icon name="material-symbols:share" />
          <Icon name="material-symbols:content-paste"
        /></AppButton>
        <AppButton intent="secondary" @click="showQR = !showQR"
          ><Icon name="ic:baseline-qrcode" />
        </AppButton>
        <AppButton class="ml-2" intent="secondary" @click="emit('beginEditing')"
          ><Icon name="ic:baseline-edit"
        /></AppButton>
      </div>
    </template>
  </Card>
</template>
<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { InviteLink } from '~/types/invitelink.model';
import QRCodeVue3 from 'qrcode-vue3';
const toast = useToast();

const showQR = ref(false);

const props = defineProps<{
  groupId: string;
  invitelink: InviteLink;
  editable: boolean;
}>();

const emit = defineEmits<{
  (e: 'beginEditing'): void;
}>();

const dateFormatter = new Intl.DateTimeFormat('de-DE');

const router = useRouter();

const inviteUrl = computed(
  () =>
    location.origin +
    router.resolve(
      `/invite/${encodeURIComponent(props.groupId)}/${encodeURIComponent(
        props.invitelink.id,
      )}`,
    ).href,
);

function copyToClipBoard() {
  navigator.clipboard.writeText(inviteUrl.value);
  toast.add({
    severity: 'info',
    summary: 'Einlöslink in die Zwischenablage kopiert',
    life: 5000,
  });
}
</script>
